@font-face {
    font-family: 'Wilderness';
    src: url('./fonts/Wilderness.ttf');
    src: url('./fonts/wilderness.woff') format('woff');
}

body, html {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    color: #eceaea;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    margin: 0;
    overflow: hidden;
    background-color: #101010;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    transition: background 0.5s;
}

a:hover {
    cursor: pointer;
}

::selection {
    background: #101010; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #101010; /* Gecko Browsers */
}

ul, li {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#main-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: url(./images/blackboard.png);
    background-size: cover;
}

/* ---------------------------- INDICES ---------------------------- */
#main-wrapper .cocktail-indices {
    pointer-events: none;
    display: none;
}

/* ---------------------------- START ---------------------------- */
#start-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: url(./images/blackboard.png);
    background-size: cover;
}
.start-visible{
    z-index: 100;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
}
.start-heading h1{
    font-family: 'Wilderness', sans-serif;
    font-weight: inherit;
    font-size: 28em;
    margin: 50px;
}
/* scale wrapper for start sequence bigger for a nicer splitter animation */
#start-wrapper .cocktail-animations {
    transform: scale(1);
    top:0;
    left:0;
    z-index:2;
    transition: 0.8s cubic-bezier(0.88, 0.005, 0, 1);
}

/* ---------------------------- INTERFACE ---------------------------- */
.interface{
    z-index: 100;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: none;
}
.main-heading h1{
    font-family: 'Wilderness', sans-serif;
    font-weight: inherit;
    font-size: 12em;
    margin: 50px;
}

/* random button */
.interface .random-nav {
    position: fixed;
    top: 5%;
    width: 100%;
    height: 35px;
    z-index: 1;
}
.interface .random-nav img {
    position: absolute;
    left: 3%;
    height: 100%;
}
.interface .random-nav img:hover {
    cursor: pointer;
}

/* cocktail navigation */
.interface .cocktail-nav-wrapper {
    position: fixed;
    top: 85%;
    width: 100%;
    z-index: 1;
}
.interface .cocktail-nav-wrapper .cocktail-nav {
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.interface .cocktail-nav-wrapper .cocktail-nav li {
    display: inline;
}
.interface .cocktail-nav-wrapper .cocktail-nav li a {
    display: inline-block;
    font-family: 'Wilderness', sans-serif;
    font-size: 5em;
    color: #eceaea;
    text-align: center;
    padding: 14px 20px;
    height: 30px;
    width: 150px;
    text-decoration: none;
}
.interface .cocktail-nav-wrapper .cocktail-nav li a.mix-button {
    background: url(./images/border.png);
    background-size: 190px 58px;
}
.interface .cocktail-nav-wrapper .cocktail-nav li a p {
    line-height: 30px;
    margin: 5px;
}
.interface .cocktail-nav-wrapper .cocktail-nav li img {
    height: 100%;
}


/* arrows jumping */
@keyframes jump-left {
    0% { left: 0; }
    50% { left: -10px; }
    100% { left: 0; }
}
@keyframes jump-right {
    0% { right: 0; }
    50% { right: -10px; }
    100% { right: 0; }
}

.interface .cocktail-nav-wrapper .cocktail-nav .prev .nav-arrow {
    position: relative;
    margin: 0 auto;
    text-align: center;
    animation: jump-left 2s infinite;
}
.interface .cocktail-nav-wrapper .cocktail-nav .next .nav-arrow {
    position: relative;
    margin: 0 auto;
    text-align: center;
    animation: jump-right 2s infinite;
}

/* shaker icon animation */
@keyframes shaker {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.interface .random-nav img:hover {
    animation: shaker 0.82s
                cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

/* ---------------------------- COCKTAIL ANIMATIONS ---------------------------- */
.cocktail-animations {
    transform: scale(0.5);
    top:0;
    left:0;
    z-index:2;
    transition: 0.8s cubic-bezier(0.88, 0.005, 0, 1);
}
.cocktail-animations, .cocktail-mover {
    width: 100%;
    height: 110%;
    position: absolute;
}
.cocktail-mover {
    transition: 0.8s cubic-bezier(0.62, 0.02, 0.34, 1);
}

.animation-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.33s cubic-bezier(0.7, 0.3, 0, 1);
}
.poly-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    transition: 0.3s;
}
.poly-wrap .poly {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}
.cocktail-ingredients .poly-wrap .poly {
    opacity: 1;
}

/* ---------------------------- INGREDIENT ANIMATIONS ---------------------------- */
.cocktail-ingredients {
    width: 100%;
    height: 100%;
    z-index:2;
    transition: 0.8s cubic-bezier(0.88, 0.005, 0, 1);
}

.cocktail-ingredients, .ingredient-mover {
    width: 100%;
    height: 100%;
    position: absolute;
}

.position-one, .position-two, .position-three, .position-four, .position-five, .position-six, .position-seven, .position-eight {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.33s cubic-bezier(0.7, 0.3, 0, 1);
}

.cocktail-ingredients, .ingredient-mover .ingredient-text-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.cocktail-ingredients, .ingredient-mover .ingredient-text-wrapper .ingredient-text {
    position:absolute;
    width:100%;
    bottom:0;
    text-align:center;
    font-size: 2em;
}

 /* set positions of ingredients */
/* !!! ACHTUNG: durch scale = Ausgangspunkt centered, nicht links oben !!! */
.cocktail-ingredients.active .ingredient-mover:nth-child(1) {
    transform: scale(0.3);
    top: -16%;
    left: -16%;
    z-index:2;
    transition: 0.8s cubic-bezier(0.62, 0.02, 0.34, 1);
}
.cocktail-ingredients.active .ingredient-mover:nth-child(2) {
    transform: scale(0.3);
    top: -14%;
    left: 17%;
    z-index:2;
    transition: 0.8s cubic-bezier(0.62, 0.02, 0.34, 1);
}
.cocktail-ingredients.active .ingredient-mover:nth-child(3) {
    transform: scale(0.3);
    top: -5%;
    left: -38%;
    z-index:2;
    transition: 0.8s cubic-bezier(0.62, 0.02, 0.34, 1);
}
.cocktail-ingredients.active .ingredient-mover:nth-child(4) {
    transform: scale(0.3);
    top: -7%;
    left: 39%;
    z-index:2;
    transition: 0.8s cubic-bezier(0.62, 0.02, 0.34, 1);
}
.cocktail-ingredients.active .ingredient-mover:nth-child(5) {
    transform: scale(0.3);
    top: 13%;
    left: -20%;
    z-index:2;
    transition: 0.8s cubic-bezier(0.62, 0.02, 0.34, 1);
}
.cocktail-ingredients.active .ingredient-mover:nth-child(6) {
    transform: scale(0.3);
    top: 15%;
    left: 20%;
    z-index:2;
    transition: 0.8s cubic-bezier(0.62, 0.02, 0.34, 1);
}
.cocktail-ingredients.active .ingredient-mover:nth-child(7) {
    transform: scale(0.3);
    top: 30%;
    left: -33%;
    z-index:2;
    transition: 0.8s cubic-bezier(0.62, 0.02, 0.34, 1);
}
.cocktail-ingredients.active .ingredient-mover:nth-child(8) {
    transform: scale(0.3);
    top: 32%;
    left: 33%;
    z-index:2;
    transition: 0.8s cubic-bezier(0.62, 0.02, 0.34, 1);
}



/* unscale ingredients */
.cocktail-ingredients.inactive .ingredient-mover:nth-child(1) {
    transform: scale(0);
    top: -20%;
    left: -20%;
    z-index:2;
    transition: 0.8s cubic-bezier(0.62, 0.02, 0.34, 1);
}
.cocktail-ingredients.inactive .ingredient-mover:nth-child(2) {
    transform: scale(0);
    top: -20%;
    left: 20%;
    z-index:2;
    transition: 0.8s cubic-bezier(0.62, 0.02, 0.34, 1);
}
.cocktail-ingredients.inactive .ingredient-mover:nth-child(3) {
    transform: scale(0);
    top: 0%;
    left: -20%;
    z-index:2;
    transition: 0.8s cubic-bezier(0.62, 0.02, 0.34, 1);
}
.cocktail-ingredients.inactive .ingredient-mover:nth-child(4) {
    transform: scale(0);
    top: 0%;
    left: 20%;
    z-index:2;
    transition: 0.8s cubic-bezier(0.62, 0.02, 0.34, 1);
}
.cocktail-ingredients.inactive .ingredient-mover:nth-child(5) {
    transform: scale(0);
    top: 20%;
    left: -20%;
    z-index:2;
    transition: 0.8s cubic-bezier(0.62, 0.02, 0.34, 1);
}
.cocktail-ingredients.inactive .ingredient-mover:nth-child(6) {
    transform: scale(0);
    top: 20%;
    left: 20%;
    z-index:2;
    transition: 0.8s cubic-bezier(0.62, 0.02, 0.34, 1);
}
.cocktail-ingredients.inactive .ingredient-mover:nth-child(7) {
    transform: scale(0);
    top: 40%;
    left: -20%;
    z-index:2;
    transition: 0.8s cubic-bezier(0.62, 0.02, 0.34, 1);
}
.cocktail-ingredients.inactive .ingredient-mover:nth-child(8) {
    transform: scale(0);
    top: 40%;
    left: 20%;
    z-index:2;
    transition: 0.8s cubic-bezier(0.62, 0.02, 0.34, 1);
}


/* ---------------------------- SHINE EFFECT ---------------------------- */
/* shine effect only on cocktails, not ingredients (selection with .animation-wrap) */
.animation-wrap .poly-wrap .poly::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    top: 0;
    left: 0;
    position: absolute;
}

.shine .magic-stuff .poly-wrap:nth-child(1) .poly::before {
    -webkit-animation: shine 0.8s 0.07s forwards;
    -moz-animation: shine 0.8s 0.07s forwards;
    animation: shine 0.8s 0.07s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(2) .poly::before {
    -webkit-animation: shine 0.8s 0.12s forwards;
    -moz-animation: shine 0.8s 0.12s forwards;
    animation: shine 0.8s 0.12s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(3) .poly::before {
    -webkit-animation: shine 0.8s 0.17s forwards;
    -moz-animation: shine 0.8s 0.17s forwards;
    animation: shine 0.8s 0.17s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(4) .poly::before {
    -webkit-animation: shine 0.8s 0.22s forwards;
    -moz-animation: shine 0.8s 0.22s forwards;
    animation: shine 0.8s 0.22s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(5) .poly::before {
    -webkit-animation: shine 0.8s 0.27s forwards;
    -moz-animation: shine 0.8s 0.27s forwards;
    animation: shine 0.8s 0.27s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(6) .poly::before {
    -webkit-animation: shine 0.8s 0.32s forwards;
    -moz-animation: shine 0.8s 0.32s forwards;
    animation: shine 0.8s 0.32s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(7) .poly::before {
    -webkit-animation: shine 0.8s 0.37s forwards;
    -moz-animation: shine 0.8s 0.37s forwards;
    animation: shine 0.8s 0.37s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(8) .poly::before {
    -webkit-animation: shine 0.8s 0.42s forwards;
    -moz-animation: shine 0.8s 0.42s forwards;
    animation: shine 0.8s 0.42s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(9) .poly::before {
    -webkit-animation: shine 0.8s 0.47s forwards;
    -moz-animation: shine 0.8s 0.47s forwards;
    animation: shine 0.8s 0.47s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(10) .poly::before {
    -webkit-animation: shine 0.8s 0.52s forwards;
    -moz-animation: shine 0.8s 0.52s forwards;
    animation: shine 0.8s 0.52s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(11) .poly::before {
    -webkit-animation: shine 0.8s 0.57s forwards;
    -moz-animation: shine 0.8s 0.57s forwards;
    animation: shine 0.8s 0.57s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(12) .poly::before {
    -webkit-animation: shine 0.8s 0.62s forwards;
    -moz-animation: shine 0.8s 0.62s forwards;
    animation: shine 0.8s 0.62s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(13) .poly::before {
    -webkit-animation: shine 0.8s 0.67s forwards;
    -moz-animation: shine 0.8s 0.67s forwards;
    animation: shine 0.8s 0.67s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(14) .poly::before {
    -webkit-animation: shine 0.8s 0.72s forwards;
    -moz-animation: shine 0.8s 0.72s forwards;
    animation: shine 0.8s 0.72s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(15) .poly::before {
    -webkit-animation: shine 0.8s 0.77s forwards;
    -moz-animation: shine 0.8s 0.77s forwards;
    animation: shine 0.8s 0.77s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(16) .poly::before {
    -webkit-animation: shine 0.8s 0.82s forwards;
    -moz-animation: shine 0.8s 0.82s forwards;
    animation: shine 0.8s 0.82s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(17) .poly::before {
    -webkit-animation: shine 0.8s 0.87s forwards;
    -moz-animation: shine 0.8s 0.87s forwards;
    animation: shine 0.8s 0.87s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(18) .poly::before {
    -webkit-animation: shine 0.8s 0.92s forwards;
    -moz-animation: shine 0.8s 0.92s forwards;
    animation: shine 0.8s 0.92s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(19) .poly::before {
    -webkit-animation: shine 0.8s 0.97s forwards;
    -moz-animation: shine 0.8s 0.97s forwards;
    animation: shine 0.8s 0.97s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(20) .poly::before {
    -webkit-animation: shine 0.8s 1.02s forwards;
    -moz-animation: shine 0.8s 1.02s forwards;
    animation: shine 0.8s 1.02s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(21) .poly::before {
    -webkit-animation: shine 0.8s 1.07s forwards;
    -moz-animation: shine 0.8s 1.07s forwards;
    animation: shine 0.8s 1.07s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(22) .poly::before {
    -webkit-animation: shine 0.8s 1.12s forwards;
    -moz-animation: shine 0.8s 1.12s forwards;
    animation: shine 0.8s 1.12s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(23) .poly::before {
    -webkit-animation: shine 0.8s 1.17s forwards;
    -moz-animation: shine 0.8s 1.17s forwards;
    animation: shine 0.8s 1.17s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(24) .poly::before {
    -webkit-animation: shine 0.8s 1.22s forwards;
    -moz-animation: shine 0.8s 1.22s forwards;
    animation: shine 0.8s 1.22s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(25) .poly::before {
    -webkit-animation: shine 0.8s 1.27s forwards;
    -moz-animation: shine 0.8s 1.27s forwards;
    animation: shine 0.8s 1.27s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(26) .poly::before {
    -webkit-animation: shine 0.8s 1.32s forwards;
    -moz-animation: shine 0.8s 1.32s forwards;
    animation: shine 0.8s 1.32s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(27) .poly::before {
    -webkit-animation: shine 0.8s 1.37s forwards;
    -moz-animation: shine 0.8s 1.37s forwards;
    animation: shine 0.8s 1.37s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(28) .poly::before {
    -webkit-animation: shine 0.8s 1.42s forwards;
    -moz-animation: shine 0.8s 1.42s forwards;
    animation: shine 0.8s 1.42s forwards;
}
.shine .magic-stuff .poly-wrap:nth-child(29) .poly::before {
    -webkit-animation: shine 0.8s 1.47s forwards;
    -moz-animation: shine 0.8s 1.47s forwards;
    animation: shine 0.8s 1.47s forwards;
}

@-webkit-keyframes shine {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    35% {
        background-color: rgba(255, 255, 255, 0.1);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}
@-moz-keyframes shine {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    35% {
        background-color: rgba(255, 255, 255, 0.1);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}
@keyframes shine {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    35% {
        background-color: rgba(255, 255, 255, 0.1);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}